In [1]:
from contrans import contrans

In [2]:
import numpy as np
import pandas as pd
import json

In [8]:
ct = contrans()

In [4]:
useragent = ct.get_useragent()
useragent

'python-requests/2.32.3'

In [5]:
headers = ct.make_headers(useragent)

In [7]:
ct.get_bioguideIDs()

                    name       state  district bioguideId
0       McIver, LaMonica  New Jersey      10.0    M001229
1       Evans, Daniel J.  Washington       NaN    E000236
2            Sasser, Jim   Tennessee       NaN    S000068
3       Helmy, George S.  New Jersey       NaN    H001097
4             Ruiz, Raul  California      25.0    R000599
5     De La Cruz, Monica       Texas      15.0    D000594
6       Menendez, Robert  New Jersey       NaN    M000639
7              Carr, Bob    Michigan       8.0    C000178
8           Nowak, Henry    New York      33.0    N000163
9         Pascrell, Bill  New Jersey       9.0    P000096
10       Booker, Cory A.  New Jersey       NaN    B001288
11   Jackson Lee, Sheila       Texas      18.0    J000032
12      Payne, Donald M.  New Jersey      10.0    P000604
13       Gallagher, Mike   Wisconsin       8.0    G000579
14      Symms, Steven D.       Idaho       NaN    S001138
15           Lopez, Greg    Colorado       4.0    L000604
16  Kiggans, Jennifer A.    Virginia       2.0    K000399
17   Strickland, Marilyn  Washington      10.0    S001159
18           Carey, Mike        Ohio      15.0    C001126
19     Rulli, Michael A.        Ohio       6.0    R000619

In [14]:
house

        congress chamber  rollnumber  icpsr  cast_code   prob
0            118   House           1  14854          6  100.0
1            118   House           1  14863          6   98.2
2            118   House           1  14873          1  100.0
3            118   House           1  15029          1  100.0
4            118   House           1  15433          1  100.0
...          ...     ...         ...    ...        ...    ...
486659       118   House        1118  31101          6  100.0
486660       118   House        1118  31102          9   99.6
486661       118   House        1118  39301          6  100.0
486662       118   House        1118  39307          6  100.0
486663       118   House        1118  91980          1   99.1

[486664 rows x 6 columns]

In [16]:
house = house[["rollnumber", "icpsr", "cast_code"]]

In [17]:
house_mat = pd.merge(house, house, on="rollnumber")

In [19]:
len(house_mat)

211856536

In [20]:
house_mat["agree"] = house_mat["cast_code_x"] == house_mat["cast_code_y"]

In [22]:
house_mat = house_mat.groupby(["icpsr_x", "icpsr_y"]).agg({"agree": "mean"})

In [23]:
house_mat = house_mat.reset_index()

In [24]:
house_mat

        icpsr_x  icpsr_y     agree
0         14854    14854  1.000000
1         14854    14863  0.830948
2         14854    14873  0.386404
3         14854    15029  0.412343
4         14854    15433  0.366726
...         ...      ...       ...
200607    91980    31102  0.731664
200608    91980    31103  0.190805
200609    91980    39301  0.236136
200610    91980    39307  0.239714
200611    91980    91980  1.000000

[200612 rows x 3 columns]

In [25]:
ideo = ct.get_ideology()

In [26]:
members = ideo[["bioname", "icpsr", "party_code"]]

In [27]:
members

                 bioname  icpsr  party_code
0    ROGERS, Mike Dennis  20301         200
1          SEWELL, Terri  21102         100
2     PALMER, Gary James  21500         200
3         CARL, Jerry L.  22108         200
4           MOORE, Barry  22140         200
..                   ...    ...         ...
443         STEIL, Bryan  21970         200
444   TIFFANY, Thomas P.  21989         200
445    FITZGERALD, Scott  22115         200
446   VAN ORDEN, Derrick  22370         200
447     HAGEMAN, Harriet  22325         200

[448 rows x 3 columns]